body {
  font-family: 'Inter', sans-serif;
  margin: 30px;
}
.header-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-field {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  label {
    width: 100px;
  }
}

formly-field-primeng-radio {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
